* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  max-width: 1200px;
  height: 100vh;
  display: flex; 
  margin: auto;
}

.left-frame {
  width: 240px;
}

.right-frame {
  flex: 1;
}

header, .main-figure, .eight-items {
  padding: 0 16px;
}

/*----------------------------------------------------------
 * aside
 *----------------------------------------------------------*/

aside {
  position: fixed;
  width: inherit;
  height: 100%;
  overflow: scroll;

  h1, .main-nav {
    text-shadow: 2px; /***/
  }

  /* logo */
  h1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
  }

  /* main nav */
  .main-nav {
    margin-top: 100px;

    ul {

      li {

        a {
          display: block;
          padding: 8px 16px;
          font-size: 18px;
          font-weight: 600;
          color: rgba(94, 94, 94, 0.932);
          
          &:hover {
            color: black;
            background-color: rgba(0, 0, 0, 0.2);
          }

          i {
            margin-left: 4px;
          }
        }

        .jeans {
          color: black;
        }
      }
    }
  }

  /* sub nav */
  .sub-nav {
    margin-top: 100px;

    ul {

      li {

        a {
          display: block;
          padding: 8px 12px;
          font-size: 16px;
          font-weight: 500;
          color: rgb(44, 44, 44);
          
          &:hover {
            color: black;
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}


/*----------------------------------------------------------
 * header
 *----------------------------------------------------------*/

header {
  display: flex;
  height: 85px;
  padding: 0 16px;
  margin: auto;

  
  p {
    display: inline-block;
    text-align: center;
    margin: 24px 0;
    font-size: 26px;
    font-weight: 50;
    
    
    &:last-child {
      margin-left: auto;
    }

    .cart-icon {
      margin-right: 15px;
    }
  }
}



/*----------------------------------------------------------
 * footer
 *----------------------------------------------------------*/

footer {

  .subscribe {
    padding: 32px 16px;
    font-size: 15px;
    background-color: black;

    h1 {
      margin: 10px 0;
      font-size: 36px;
      color: white;
    }

    h2 {
      margin: 15px 0;
      font-size: inherit;
      color: white;
    }

    input {
      width: 100%;
      padding: 8px;
    }

    button {
      padding: 8px 16px;
      margin: 16px 0;
      font-size: inherit;
      color: white;
      background-color: #f44336;
    }
  }

  .information {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 64px 0;
    text-align: center;
    background-color: whitesmoke;

    .hori {
      width: 33.333%;
      padding: 0 8px;

      h1 {
        font-size: 20px;
        font-weight: 300;
        margin: 10px 0;
      }

      p {
        padding: 12px 0;
      }

      form {
        width: 100%;

        input, textarea {
          width: inherit;
          padding: 8px;
          margin: 6px 0;
          color: grey;
          border: 1px solid rgb(194, 194, 194);
        }

        textarea, button {
          width: inherit;
          height: 34px;
        }

        button {
          padding: 8px 16px;
          margin: 16px 0;
          text-align: center;
          font-size: inherit;
          color: white;
          background-color: black;
        }
      }
      
      .about {
        text-align: center;

        li {
          margin: 12px 0;

          a {
            font-size: 12px;
            color: rgb(39, 39, 39);
            text-decoration: underline;
          }
        }
      }

    }

    .vert {
      text-align: left;

      ul {

        li {
          margin: 12px 0;

          a {
            font-size: 12px;

            i {
              margin-right: 3px;
            }
          }
        }
      }

      .social-media {
        margin-top: 30px;

        i {
          font-size: 18px;

          &:hover {
            color: #0008;
          }
        }
      }
    }
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black;

    a {
      text-decoration: underline;
    }
  }
}