* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

a {
  text-decoration: none;
}

body {
  max-width: 1200px;
  height: 100vh;
  display: flex; /*it's not flex? div then padding then right, fixed*/
  margin: auto;
}

.left-frame {
  width: 240px;
}

.right-frame {
  flex: 1;
}

header, main {
  padding: 0 20px;
}

/*----------------------------------------------------------
 * aside
 *----------------------------------------------------------*/

aside {
  position: fixed;
  width: inherit;
  height: 100%;
  overflow: scroll;

  h1, .main-nav {
    text-shadow: 2px; /***/
  }

  h1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: aliceblue;
  }

  .main-nav {
    margin-top: 100px;
    background-color: aliceblue;

    ul {

      li {

        a {
          display: block;
          padding: 8% 16px;
          font-size: 18px;
          font-weight: 600;
          color: rgb(94, 94, 94);

          &:nth-child(3) { /***/
            color: black;
          }
          
          &:hover {
            color: black;
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .sub-nav {
    margin-top: 100px;
  }
}


/*----------------------------------------------------------
 * header
 *----------------------------------------------------------*/

header {
  display: flex;
  height: 85px;
  padding: 0 16px;
  margin: auto;
  background-color: aliceblue;

  
  p {
    display: inline-block;
    text-align: center;
    margin: 24px 0;
    font-size: 26px;
    font-weight: 50;
    font-family: "Montserrat", sans-serif;
    background-color:rgb(230, 242, 253);
    
    
    &:last-child {
      margin-left: auto;
    }

    .cart-icon {
      margin-right: 15px;
    }
  }
}



/*----------------------------------------------------------
 * footer
 *----------------------------------------------------------*/

footer {
  background-color: grey;
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black;
  }
}